<aside class="lateral">
    <app-sidebar></app-sidebar>
</aside>

<div class="content">
    <router-outlet></router-outlet>

    <div class="box" id="profile">
        <div class="box-image"></div>
        <div class="box-content">
            <div class="pack">
                <i class="material-icons-round">cake</i>
                <label>{{ getAge() }} years old</label>
            </div>
            <div class="pack">
                <i class="material-icons">menu_book</i>
            </div>
        </div>
    </div>

    <div class="box" id="cv">
        <div class="box-content">
            <h2 class="box-title">Experience</h2>
            <div class="box-row">
                <h2>Experience 1</h2>
                <p>Experience 1 description</p>
            </div>
            <div class="box-row">
                <h2>Experience 2</h2>
                <p>Experience 2 description</p>
            </div>
            <div class="box-row">
                <h2>Experience 3</h2>
                <p>Experience 3 description</p>
            </div>
            <div class="box-row">
                <h2>Experience 4</h2>
                <p>Experience 4 description</p>
            </div>
            <div class="box-row">
                <button class="button button-main start-end">Download as PDF</button>
                <div class="space"></div>
                <button class="button button-green start-end">View more</button>
            </div>
        </div>
    </div>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>