@import '../../_variables.scss';

aside.lateral {
    width: 25%;
    height: 100%;
    display: inline-block;
}

div.content {
    width: 75%;
    height: 100%;
    float: right;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    //justify-content: center;
    //align-items: center;
    background-color: darken($color: $darkwhite, $amount: 5%);
    flex-direction: column;
    padding: 10px;
}